<li class="span3">
    <div class="thumbnail" style="padding: 0">
      <div style="padding:4px">
        <img alt="300x200" 
        style="width: 100%" 
        src="/autores{{autor.foto.url }}" alt ="{{autor.foto.url}}">
      </div>
      <div class="caption">
        <h2>Datos del autor</h2>
        <p>Nombre: {{autor.nombre}}</p>
        <p><i class="icon icon-map-marker"></i> Pais: {{autor.nacionalidad}}</p>
        <p>Fecha Nacimiento: {{autor.fecha_nacimiento}}</p>
      </div>
      
    </div>
  </li>